@use "variables" as *;
@use "mixins";

.modal {
  position: fixed;                
  inset: 0;                       
  display: none;                    
  background-color: $overlayBackground;
  z-index: 1000;

  &.modal_active {
    display: flex;                 
    align-items: center;
    justify-content: center;
  }

  &__container {
    @include mixins.flex(column);
    gap: $defaultPadding;
    background-color: $background;
    border-radius: 3rem;
    position: relative;

  
    width: min(1240px, calc(100vw - 4rem));
    max-height: calc(100vh - 4rem);
    overflow: auto;

    
    padding: $defaultPadding;
    box-sizing: border-box;
  }

  &__content {
    flex-grow: 1;
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__actions {
    @include mixins.flex(row);
    align-items: center;
    gap: 2rem;
  }

  &__close {
    position: absolute;
    top: calc(#{$defaultPadding} / 2);
    right: calc(#{$defaultPadding} / 2);
    @include mixins.icon(2rem, 'close');
    @include mixins.link(white, $hover);
  }

  &__footer {
    @include mixins.flex(row);
    align-items: center;
    gap: 2rem;
  }

  &__message {
    white-space: nowrap;
    max-width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;

    &_error {
      color: $error;
    }
  }
}
